<main id="<%- id %>">

  <p>El siguiente listado permite registrar las constancias de asistencia y de
    actuación que son presentadas en el liceo u oficina, y la opción de
    tipo de compensación que realizan los funcionarios.</p>

  <p>Cada funcionario debe estar registrado solo en el liceo
    u oficina donde presentó la constancia original.</p>

  <div class="card mb-3 border-dark">
    <div class="card-header form-inline">
      <label for="periodoid">Período:</label>
      <select class="ml-1 custom-select" id="periodoid" name="periodoid" onChange="window.location.href='?periodoid='+$('#periodoid option:checked').val()">
        <% periodos.forEach(function(p){ -%>
          <option value="<%- p.id %>"<% if (periodoid==p.id) { %> selected<% } %>><%- p.CompElecDesc %></option>
        <% }) -%>
      </select>
    </div>
    <div class="card-body text-dark">
      <% let periodo = periodos.find(p => p.id==periodoid) %>
      <% if (periodo) { %>
      <p>Las posibles compensaciones son:</p>
      <table class="table">
        <tr><th>Tipo</th><th>Escalafones</th><th>Asistencia</th><th>Actuación</th></tr>
        <tr>
          <td>Licencia</td>
          <td><%- periodo.CompElecLicenciaEscalafones ? periodo.CompElecLicenciaEscalafones : 'Todos' %></td>
          <td><%- periodo.CompElecLicenciaAsistencia %> días (<span class="fas fa-walking"></span>)</td>
          <td><%- periodo.CompElecLicenciaActuacion %> días (<span class="fas fa-walking"></span><span class="fas fa-walking"></span>)</td>
        </tr><tr>
          <td>Compensación económica</td>
          <td><%- periodo.CompElecDineroEscalafones ? periodo.CompElecDineroEscalafones : 'Todos' %></td>
          <td>$ <%- periodo.CompElecDineroAsistencia %> (<span class="fas fa-dollar-sign"></span>)</td>
          <td>$ <%- periodo.CompElecDineroActuacion %> (<span class="fas fa-dollar-sign"></span><span class="fas fa-dollar-sign"></span>)</td>
        </tr>
      </table>
      <% } %>
    </div>
  </div>

  <div class="card mb-3 border-dark w-100">
    <div class="card-header">
      Personal con funciones en <%- dependDesc %><% if (dependNom) { %> (<%- dependNom %>)<% } %>
    </div>
    <div class="card-body text-dark w-100">
      <table class="datatable col-sm-12 table-striped" id="datatable" style="width:100%">
        <thead>
          <tr>
            <th>Cédula</th>
            <th>Nombre</th>
            <th>Función</th>
            <th>Escalafón</th>
            <th>Opción</th>
            <th>Estado</th>
          </tr>
      </table>
    </div>
  </div>
</main>


<div class="modal fade" id="registroModal" tabindex="-1" role="dialog" aria-labelledby="registroModalLabel" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="registroModalLabel">Cambiar preferencia</h5>
      </div>
      <div class="modal-body">

        <div class="alert alert-danger" style="display:none" role="alert" id="modalMessage"></div>

        <form>
          <p>Seleccione el tipo de constancia y la preferencia de compensación:</p>
          <div class="form-group">
            <div class="row">
              <label class="col-form-label col-sm-3 pt-0">Período:</label>
              <div class="col-sm-9">
                <label id="periodoDesc"></label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <label class="col-form-label col-sm-3 pt-0">Nombre:</label>
              <div class="col-sm-9">
                <label id="nombrecompleto"></label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <label class="col-form-label col-sm-3 pt-0">Constancia:</label>
              <div class="col-sm-9">
                <div class="form-check">
                  <input type="radio" class="form-check-input" id="nopresenta" name="tipo" value="nopresenta">
                  <label class="form-check-label" for="nopresenta">No presenta</label>
                </div>
                <div class="form-check">
                  <input type="radio" class="form-check-input" id="asistencia" name="tipo" value="asistencia">
                  <label class="form-check-label" for="asistencia">Constancia de asistencia</label>
                </div>
                <div class="form-check">
                  <input type="radio" class="form-check-input" id="actuacion" name="tipo" value="actuacion">
                  <label class="form-check-label" for="actuacion">Constancia de actuación</label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <label class="col-form-label col-sm-3 pt-0">Compensación:</label>
              <div class="col-sm-9">
                <div class="form-check">
                  <input type="radio" class="form-check-input" id="licencia" name="compensacion" value="licencia">
                  <label class="form-check-label" for="licencia">Días de licencia</label>
                </div>
                <div class="form-check">
                  <input type="radio" class="form-check-input" id="dinero" name="compensacion" value="dinero">
                  <label class="form-check-label" for="dinero">Compensación económica</label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <label class="col-form-label col-sm-3 pt-0">Entregó original en:</label>
              <div class="col-sm-9">
                <label id="dependencia"></label>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="submit">Guardar</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
<% let idx = 0;
   let btndata = '';
   let icoNada = '<span class="fas fa-times"></span>';
   let icoLicencia = '<span class="fas fa-walking"></span>';
   let icoDinero = '<span class="fas fa-dollar-sign"></span>';
-%>
var data = [
<% personal.forEach( p => { -%>
  <% let opcion = opciones.find(o => o.PersonalPerId == p.PersonalPerId);
     let tipo = 'nopresenta';
     let compensacion = 'licencia';
     let dependDesc;
     let noguardar;
     if (opcion) {
       tipo = opcion.Tipo;
       compensacion = opcion.Compensacion;
       if (tipo != 'nopresenta') {
         dependDesc = opcion.DependId.DependDesc;
         noguardar = (opcion.DependId.id != p.DependId);
       }
     }

     let icono =
        (tipo == 'nopresenta' ? icoNada
                    : (compensacion == 'dinero' ? icoDinero+(tipo == 'actuacion' ? ' '+icoDinero : '')
                    : icoLicencia+(tipo == 'actuacion' ? ' '+icoLicencia : '')
        ));
      let color =
        (tipo == 'nopresenta' ? 'primary' : 'secondary');
      let envio =
        (! p.FechaEnvio || p.FechaAnulacion && ! p.FechaEnvioAnulacion ? 'Pendiente' : 'Enviado');
      btndata = btndata+
       '\t{tipo:"'+tipo+'"'+
       ', comp:"'+compensacion+'"'+
       ', perid:'+p.PersonalPerId+
       (dependDesc ? ', dependdesc:"'+dependDesc+'"' : '')+
       (noguardar ? ', noguardar:1' : '')+
       '},\n';
      let boton = '<button class="btn btn-'+ color +' accion" data-idx="'+ idx +'">'+ icono +'</button>';
      idx = idx + 1;
  -%>
  [ '<%- p.PerDocId %>', '<%= p.PerNombreCompleto %>', '<%- p.FuncionDesc %>', '<%- p.EscId %>', '<%- boton %>', '<%- envio %>' ],
<% }) -%>
];
var btndata = [
<%- btndata -%>
];
</script>
