<main>

  <p>El siguiente listado permite registrar las constancias de asistencia y de
    actuación que son presentadas en el liceo u oficina, y la opción de
    tipo de compensación que realizan los docentes.</p>

  <p>Cada funcionario debe estar registrado solo en el liceo
    u oficina donde presentó la constancia original.</p>

  <div class="card mb-3 border-dark" style="min-width:46rem">
    <div class="card-header">
      Elección activa
    </div>
    <div class="card-body text-dark">
      Se muestran los registros que corresponden a las <%= compElecDesc %>
    </div>
  </div>

  <div class="card mb-3 border-dark w-100" style="min-width:46rem">
    <div class="card-header">
      Personal con funciones en <%= dependDesc %><% if (dependNom) { %> (<%= dependNom %>)<% } %>
    </div>
    <div class="card-body text-dark">
      <table class="datatable col-sm-12">
        <thead>
          <tr>
            <th>Cédula</th>
            <th>Nombre</th>
            <th>Función</th>
            <th>Escalafón</th>
            <th>Opción</th>
            <th>Estado</th>
          </tr>
      </table>
    </div>
  </div>
</main>

<script>
var data = [
  <% personal.forEach( p => { -%>
  [ '<%= p.PerDocId %>', '<%= p.PerNombreCompleto %>', '<%= p.FuncionDesc %>', '<%= p.EscId %>', '<button class="btn btn-primary">cambiar</button>', '' ],
  <% }) %>
];
</script>
